<div class="page-header">
<h1>All of the Statuses</h1>
</div>
<%= link_to "Post a new status", new_status_path, class: "btn"%>

<% @statuses.each do |status| %>
    <div class="status">
    <b><%=status.name %></b>
    <p><%=status.content %></p>
        <div class="meta">
            <%=link_to time_ago_in_words(status.created_at) + " ago", status %>
            <span class="admin"><%=link_to 'Edit', edit_status_path(status)%></span>
                <span class="admin"><%=link_to 'Delete', status, method: :delete, data: {confirm: "Are you sure?"} %></span>
        </div>
    </div>
<% end %>