<!DOCTYPE html>
<html>
<head>
  <title>Awesomebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <%=link_to "Awesomebook", root_path, class: 'brand'%>
            <ul class="nav">
                <li><%=link_to "Everything",statuses_path %></li>
            </ul>
            <div class="btn btn-danger pull-right"><%=link_to "Logout",destroy_user_session_path, method: :delete, style: 'color: white'%></div>

        </div>
        </div>
    </div>
<div class="container">
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>
</div>
</body>
</html>
